In [1]:
import random
import numpy as np
import seaborn as sns
import pandas as pd

In [7]:
name = 'Debate_Tweets_dirty'
df = pd.read_csv(f"./Clean DataSets/{name}.csv", encoding='latin-1')
#df = pd.read_excel(f"./Clean DataSets/{name}.xls")

In [11]:
df

,Unnamed: 0,id,candidate,candidate_confidence,relevant_yn,relevant_yn_confidence,sentiment,sentiment_confidence,subject_matter,subject_matter_confidence,...,name,relevant_yn_gold,retweet_count,sentiment_gold,subject_matter_gold,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,0,12345.0,No candidate mentioned,1.0000,yes,1.0000,Neutral,1.0000,None of the above,1.0000,...,LaMaeSmith,NaN,0.0,NaN,NaN,Watching #GOPDebates,NaN,2015-08-06 19:22:53 -0700,NaN,NaN
1,1,1242.0,No candidate mentioned,0.4805,yes,0.6932,Neutral,0.3636,None of the above,0.4805,...,TexasCruzn,NaN,0.0,NaN,NaN,"RT @AllenWestRepub ""Twitter declares @CarlyFio...",NaN,2015-08-07 09:43:33 -0700,NaN,Eastern Time (US & Canada)
2,2,11013.0,No candidate mentioned,1.0000,yes,1.0000,Negative,0.6660,None of the above,1.0000,...,ComicStevieMack,NaN,0.0,NaN,NaN,There are a lot of #orange people on the #GOPd...,NaN,2015-08-06 19:44:38 -0700,"Hollywood, CA",Pacific Time (US & Canada)
3,3,9718.0,No candidate mentioned,1.0000,yes,1.0000,Negative,1.0000,None of the above,0.6702,...,EssmailPatricia,NaN,64.0,NaN,NaN,RT @RWSurferGirl: I'd really like to see how l...,NaN,2015-08-06 20:14:25 -0700,"Waco, TX",NaN
4,4,8385.0,Ben Carson,1.0000,yes,1.0000,Positive,0.6274,None of the above,1.0000,...,grapeofgod,NaN,0.0,NaN,NaN,"Carson, Rubio, Fiorina, &amp; Cruz won the nig...",NaN,2015-08-07 03:49:39 -0700,Winchester Virginia,Atlantic Time (Canada)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13983,13983,3489.0,John Kasich,1.0000,yes,1.0000,Neutral,0.6819,LGBT issues,0.6819,...,Scrumple,NaN,92.0,NaN,NaN,RT @RexHuppke: John Kasich admits going to a g...,NaN,2015-08-07 09:18:14 -0700,Crossroads,Eastern Time (US & Canada)
13984,13984,5929.0,No candidate mentioned,1.0000,yes,1.0000,Neutral,1.0000,None of the above,1.0000,...,anickcoffman,NaN,0.0,NaN,NaN,"About the #GOPDebate, Never Forget. http://t.c...",NaN,2015-08-07 08:28:24 -0700,Philadelphia via Midwest,Eastern Time (US & Canada)
13985,13985,1302.0,No candidate mentioned,1.0000,yes,1.0000,Negative,1.0000,FOX News or Moderators,0.6272,...,arrowsmithwoman,NaN,7.0,NaN,NaN,"RT @JonFeere: Fox's @MegynKelly says she's ""sw...",NaN,2015-08-07 09:43:01 -0700,Florida,Eastern Time (US & Canada)
13986,13986,9567.0,Ben Carson,1.0000,yes,1.0000,Positive,1.0000,None of the above,1.0000,...,hill_danita,NaN,1.0,NaN,NaN,RT @tammy_pence: I became a #BenCarson fan ton...,NaN,2015-08-06 20:19:43 -0700,Kansas,Central Time (US & Canada)
13987,13987,9649.0,No candidate mentioned,1.0000,yes,1.0000,Negative,0.6697,None of the above,1.0000,...,SupermanHotMale,NaN,3.0,NaN,NaN,This #GopDebates makes me realize we have to r...,NaN,2015-08-06 20:16:46 -0700,"Cocoa Beach, Florida",Eastern Time (US & Canada)

In [9]:
if df.shape[0] > 500000:
    df = df.iloc[0:500000, :]

In [10]:
df.candidate_confidence.unique()

array([1.    , 0.4805, 0.4495, ..., 0.6763, 0.2383, 0.2273])

In [5]:
df.tail()

,id,candidate,candidate_confidence,relevant_yn,relevant_yn_confidence,sentiment,sentiment_confidence,subject_matter,subject_matter_confidence,candidate_gold,...,relevant_yn_gold,retweet_count,sentiment_gold,subject_matter_gold,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone
13866,13867,No candidate mentioned,1.0000,yes,1.0000,Negative,0.7991,Abortion,0.6014,No candidate mentioned,...,yes,7,Negative,Abortion\nWomen's Issues (not abortion though),RT @cappy_yarbrough: Love to see men who will ...,NaN,2015-08-07 09:29:43 -0700,629690895479250944,Como,NaN
13867,13868,Mike Huckabee,0.9611,yes,1.0000,Positive,0.7302,None of the above,0.9229,Mike Huckabee,...,yes,1,NaN,NaN,RT @georgehenryw: Who thought Huckabee exceede...,NaN,2015-08-07 09:25:02 -0700,629689719056568320,USA,NaN
13868,13869,Ted Cruz,1.0000,yes,1.0000,Positive,0.8051,None of the above,0.9647,Ted Cruz,...,yes,67,Positive\nNeutral,NaN,"RT @Lrihendry: #TedCruz As President, I will a...",NaN,2015-08-07 07:19:18 -0700,629658075784282112,NaN,NaN
13869,13870,Donald Trump,1.0000,yes,1.0000,Negative,1.0000,Women's Issues (not abortion though),0.9202,Donald Trump,...,yes,149,NaN,Women's Issues (not abortion though),RT @JRehling: #GOPDebate Donald Trump says tha...,NaN,2015-08-07 09:54:04 -0700,629697023663546368,NaN,NaN
13870,13871,Ted Cruz,0.9242,yes,0.9614,Positive,0.9614,None of the above,0.9242,Ted Cruz,...,yes,65,Positive,NaN,RT @Lrihendry: #TedCruz headed into the Presid...,NaN,2015-08-06 18:22:27 -0700,629462573641920512,"San Antonio, TX",Central Time (US & Canada)

In [182]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

In [183]:
df.duplicated().sum()

0

In [184]:
df.isnull().sum()

SK_ID_CURR                        0
TARGET                            0
NAME_CONTRACT_TYPE                0
CODE_GENDER                       0
FLAG_OWN_CAR                      0
                              ...
AMT_REQ_CREDIT_BUREAU_DAY     41519
AMT_REQ_CREDIT_BUREAU_WEEK    41519
AMT_REQ_CREDIT_BUREAU_MON     41519
AMT_REQ_CREDIT_BUREAU_QRT     41519
AMT_REQ_CREDIT_BUREAU_YEAR    41519
Length: 122, dtype: int64

In [185]:
#df = df.drop(['AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR'], axis  = 1)

In [186]:
def impute_nans(df, amount_nan):
    cols_list = [col_num for col_num in range(df.shape[1])]
    rows_list = [row_num for row_num in range(df.shape[0])]
    for i in range(amount_nan):
        col_num = random.choice(cols_list)
        row_num = random.choice(rows_list)
        df.iloc[row_num, col_num] = np.nan
    return df

In [187]:
df.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

In [188]:
np.sign(-5)

-1

In [189]:
def create_outliers(df, amount_outliers, multiplier = 3):
    cols_list = [col_num for col_num in range(df.shape[1])]
    rows_list = [row_num for row_num in range(df.shape[0])]
    count = 0
    for column in df.columns:
        if (df[column].dtype == 'float64' or
                df[column].dtype == 'int64'):
            count += 1
            break
    for i in range(amount_outliers):
        if count == 0:
            break
        if i%10 == 0:
            multiplier*= -1 
        while True:
            col_num = random.choice(cols_list)
            if (df.iloc[:, col_num].dtype == 'float64' or
                df.iloc[:, col_num].dtype == 'int64'):
                break
        col_name = df.columns[col_num]
        q1 = np.percentile(list(df.loc[df.loc[:,col_name].notnull(), col_name]),25)
        q3 = np.percentile(list(df.loc[df.loc[:,col_name].notnull(), col_name]),75)
        iqr = q3 - q1
        ceiling = q3 + 1.5*iqr
        row_num = random.choice(rows_list)
        if df.iloc[:, col_num].dtype == 'int64' and df.iloc[row_num, col_num] != np.nan:
            if np.sign(ceiling) == -1:
                df.iloc[row_num, col_num] =  int(ceiling*multiplier) 
            else: df.iloc[row_num, col_num] =  int(ceiling*multiplier) + random.randint(0, int(ceiling + 2))
        if df.iloc[row_num, col_num] != np.nan:
            df.iloc[row_num, col_num] =  ceiling*multiplier + random.random()
        if multiplier < 0:
            multiplier*= -1
    return df

In [190]:
def impute_duplicates(df, amount_duplicates, max_rep):
    rep_num_list = [rep_num for rep_num in range(max_rep)]
    rows_list = [row_num for row_num in range(df.shape[0])]
    for i in range(amount_duplicates):
        row_num = random.choice(rows_list)
        rep_num = random.choice(rep_num_list)
        dup_row = df.iloc[[row_num]]
        for i in range(rep_num):
            df = pd.concat([df, dup_row], ignore_index=True)
    df = df.sample(frac=1).reset_index(drop=True)
    return df

In [191]:
#Lets make the data dirty
if df.shape[0] < 5000:
    number = 80
elif  1000 < df.shape[0] < 20000:
    number = int(df.shape[0]*0.04)
elif  20000 < df.shape[0] < 100000:
    number = int(df.shape[0]*0.02)
elif  df.shape[0] >= 100000:
    number = 700
df = create_outliers(df, number, 100)
df = impute_nans(df, number)
df = impute_duplicates(df, int(number/2), 2)

In [192]:
df.duplicated().sum()

189

In [193]:
df.isnull().sum()

SK_ID_CURR                        6
TARGET                            7
NAME_CONTRACT_TYPE                4
CODE_GENDER                       8
FLAG_OWN_CAR                      6
                              ...
AMT_REQ_CREDIT_BUREAU_DAY     41544
AMT_REQ_CREDIT_BUREAU_WEEK    41542
AMT_REQ_CREDIT_BUREAU_MON     41551
AMT_REQ_CREDIT_BUREAU_QRT     41551
AMT_REQ_CREDIT_BUREAU_YEAR    41546
Length: 122, dtype: int64

In [194]:
#pd.set_option('display.max_rows', 100)

In [195]:
df.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,3.076940e+05,307693.000000,307698.000000,3.076940e+05,3.076940e+05,3.076810e+05,3.074170e+05,307693.000000,307694.000000,307693.000000,...,307693.000000,307694.000000,307691.000000,307695.000000,266156.000000,266156.000000,266158.000000,266149.000000,266149.000000,266154.000000
mean,2.794105e+05,0.080719,0.418653,1.694486e+05,6.000481e+05,2.736749e+04,5.405547e+05,0.020927,-16039.355942,63817.120731,...,0.008134,0.000604,0.000514,0.000341,0.006408,0.007007,0.034377,0.267397,0.265496,1.908297
std,2.971436e+05,0.272398,1.154701,2.796187e+05,5.749796e+05,4.247999e+04,6.531575e+05,0.023677,4404.501598,141276.717400,...,0.089804,0.024522,0.022586,0.018387,0.083863,0.110756,0.204692,0.915917,0.793930,3.132599
min,1.000020e+05,0.000000,-249.344295,2.565000e+04,4.500000e+04,1.615500e+03,4.050000e+04,0.000290,-150949.905693,-17912.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.891452e+05,0.000000,0.000000,1.125000e+05,2.700000e+05,1.652400e+04,2.385000e+05,0.010006,-19682.000000,-2760.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.782055e+05,0.000000,0.000000,1.476000e+05,5.135310e+05,2.490300e+04,4.500000e+05,0.018850,-15750.000000,-1213.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,3.671428e+05,0.000000,1.000000,2.025000e+05,8.086500e+05,3.459600e+04,6.795000e+05,0.028663,-12412.000000,-289.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,6.341480e+07,1.000000,250.617262,1.170000e+08,1.616625e+08,6.170401e+06,1.341000e+08,6.560608,-7489.000000,365243.000000,...,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,27.000000,261.000000,750.895703

In [196]:
#df.drop('', axis = 1)

In [197]:
df.to_csv(f"Dirty DataSets\{name}_dirty.csv")